@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
   
}

* {
    margin: 0;
    padding: 0;
    text-decoration: 0;
    box-sizing: border-box;
}

main{
    max-width: 736px;
    width: 95%;
    margin: 0 auto;
    display: block;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
}