@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
     --purple-light: #DDD2EF;
    --purple-base: #9359F3;
    --purple-dark: #6F3CC3;
    --green-light: #BFE3D0;
    --green-base: #479C6E;
    --green-dark: #2D6C4A;
    --gray-100: #F0EDF2;
    --gray-200: #E5E2E9;
    --gray-330: #E0DCE4;
    --gray-400: #D1CBD7;
    --gray-500:#6B6572;
    --gray-600: #262428;
    --danger: #C2464D;
   
}

.d-flex{
    display: flex;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: 0;
    box-sizing: border-box;
    text-align: center;

}

main{
    max-width: 736px;
    width: 95%;
    margin: 0 auto;
    display: block;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    background-color: var(--gray-100);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
   background-color: var(--gray-330);
   padding: 4em 0;
}



/* GREGA */
#listaTarefas {
    background-color: #f0f0f0; 
    padding: 20px; 
    border-radius: 8px; 
}

.lista-tarefas {
    display: flex; 
    align-items: center; 
    margin-bottom: 2px;
    padding: 5px 10px; 
    border-radius: 5px;

}

.botao-concluir {
    background-color: transparent; 
    border: 2px solid purple; 
    border-radius: 50%; 
    width: 25px; 
    height: 20px;
    margin-right: 10px; 
    cursor: pointer; 
}

.texto-lista {
    flex-grow: 1;
    margin: 0; 
    font-size: 17px; 
    color: #262428; 
}

.excluir-tarefa {
    background: none; 
    border: none; 
    margin-left: 680px;
}

.excluir-tarefa img {
    width: 20px; 
    height: auto;
}

.excluir {
    display: flex;
    gap: 1em;
}


.tarefas {
    display: flex;
    justify-content: space-between;
    gap: 1.5em;
    margin-top: 2em;
    font-weight: 700;
    color: var(--gray-500);
    padding: 20px;
    box-shadow: var(--gray-330) 0px 3px 2px;
}

.concluidas {
    font-weight: 700;
    color: var(--green-base);
    background-color: var(--green-light);
    padding: 5px;
    border-radius: 100%;
}

.criadas {
    font-weight: 700;
    color: var(--purple-base);
    background-color: var(--purple-light);
    padding: 5px;
    border-radius: 100%;
}

.semtarefas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    margin-top: 4em;
    color: var(--gray-500);
}

.pesquisar {
    display: flex;
    align-items: center;
    gap: 0.5em;
    
}
.pesquisar form {
    display: flex;
    align-items: center;
    gap: 0.5em;
}
.pesquisar input {
    padding: 0.5em;
    border: 1px solid var(--gray-400);
    border-radius: 5px;
    width: auto; 
    color: var(--gray-500);
    font-weight: 400;
}

.pesquisar button {
    padding: 0.5em 1em;
    background-color: var(--purple-dark);
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-weight: 500;
}

.info {
    display: flex;
    align-items: center;
    gap: 1em;
}

#formCadastroTarefa button{
    background-color: var(--purple-dark);
    width: 12vh;
    height: 7vh;
    border-radius: 1.2vh;
    border: none;
    color: var(--gray-100);
    margin-left: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#formCadastroTarefa input{
    width: 100vh;
    height: 7vh;
    border-radius: 1.2vh;
    border: none ;
    box-shadow: 0vh 0.2vh 0vh 0.2vh var(--gray-400);
    text-align: left;
    padding: 0.8vh;
}

#formCadastroTarefa{
    margin-top: -4vh;
}

#formCadastroTarefa img{
    padding-left: 0.8em;
}


.concluido {
    background-color: var(--gray-100);
    border: var(--gray-400) 0.5px solid;
    padding: 16px;
    display: flex;
    border-radius: 9px;
}

.concluido button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.concluido p {
    text-decoration: line-through;
    color: var(--gray-500);

/* GREGA */
#listaTarefas {
    background-color: #f0f0f0; 
    padding: 20px; 
    border-radius: 8px; 
}

.lista-tarefas {
    display: flex; 
    align-items: center; 
    margin-bottom: 2px;
    padding: 5px 10px; 
    border-radius: 5px;

}

.botao-concluir {
    background-color: transparent; 
    border: 2px solid purple; 
    border-radius: 50%; 
    width: 25px; 
    height: 20px;
    margin-right: 10px; 
    cursor: pointer; 
}

.texto-lista {
    flex-grow: 1;
    margin: 0; 
    font-size: 17px; 
    color: #262428; 
}

.excluir-tarefa {
    background: none; 
    border: none; 
    margin-left: 680px;
}

.excluir-tarefa img {
    width: 20px; 
    height: auto;
}

.excluir {
    display: flex;
    gap: 1em;
}

.tarefas {
    display: flex;
    justify-content: space-between;

}